table {
    border: solid 1px;
}
th {
    border-bottom: solid 1px;
}
th, td {
    border-right: solid 1px;
    font-family: monospace;
}
th.duration, td.duration {
    text-align: right;
}
td.date {
    width: 25em;
}
td.commitid {
    width: 7em;
}
td.commitmsg {
    width: 30em;
    text-align: left;
}
