table {
    border: 0;
}
th {
    border-bottom: solid 1px;
}
th, td {
    font-family: monospace;
    text-align: left;
    vertical-align: top;
    padding-right: 2em;
}
td {
    padding-bottom: 1em;
}
th.duration, td.duration {
    width: 15em;
}
td.date {
//    min-width: 30em;
}
td.commitid {
//    width: 7em;
}
td.commitmsg {
//    max-width: 30em;
}

span.links {
    font-size: 70%;
}
